body {
  margin: 0;
}
.a1 {
  width: 1000px;
  height: 2000px;
  /* background-color: #333; */
  border: 5px solid #f00;
  margin: 0;
}
.a2 {
  width: 200px;
  height: 100px;
  border: 5px solid brown;
  position: sticky;
  z-index: 1;
  top: 0;
}
.a3 {
  width: 200px;
  height: 100px;
  border: 5px solid rgb(255, 124, 0);
  position: fixed;
  bottom: 0px;
  z-index: 1;
}
.a4 {
  width: 800px;
  height: 1000px;
  border: 5px solid blue;
  position: relative;
  bottom: 0;
}
.a5 {
  width: 500px;
  height: 200px;
  border: 5px solid purple;
  /* margin: 50% 200px; */
  /* bottom: 50%; */
  top: 50%;
  position: sticky;
  left: 200px;
  bottom: 0;
}
.a6 {
  width: 100px;
  height: 100px;
  border: 5px solid yellow;
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 1;
}
@media (max-width: 780px) {
  .a1 {
    width: 500px;
  }
  .a2 {
    width: 100px;
  }
  .a3 {
    width: 100px;
  }
  .a4 {
    width: 400px;
  }
  .a5 {
    width: 250px;
  }
}
